#
# environment variables that are commented out
# have a default value, all others must be provided
#

# redis URI to use for the celery task queue
REDIS_URI=redis://queue

#HTTP_HOST=0.0.0.0
#HTTP_PORT=8080

# GitHub webhook secret
GITHUB_SECRET=
# GitHub login the bot uses to perform GitHub activites
#GITHUB_LOGIN=OCA-git-bot
# GitHub oauth token
GITHUB_TOKEN=

#ODOO_URL=https://odoo-community.org
#ODOO_DB=odoo_community11
ODOO_LOGIN=
ODOO_PASSWORD=

#SENTRY_DSN=
