#
# environment variables that are commented out
# have a default value, all others must be provided
#

# broker URI to use for the celery task queue
#BROKER_URI=redis://queue

#HTTP_HOST=0.0.0.0
#HTTP_PORT=8080

# GitHub webhook secret
GITHUB_SECRET=
# GitHub login the bot uses to perform GitHub activites
GITHUB_LOGIN=
# GitHub oauth token
GITHUB_TOKEN=
# Git name and email used for creating commits (default: user git config,
# needs to be set to to launch the docker composition)
GIT_NAME=
GIT_EMAIL=

#ODOO_URL=https://odoo-community.org
#ODOO_DB=odoo_community_v11
ODOO_LOGIN=
ODOO_PASSWORD=

#SENTRY_DSN=
