aiohttp==3.4.4
amqp==2.3.2
appdirs==1.4.3
asn1crypto==0.24.0
async-timeout==3.0.0
attrs==18.2.0
autopep8==1.4
Babel==2.6.0
billiard==3.5.0.4
bleach==3.0.0
celery==4.2.1
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
Click==7.0
cmarkgfm==0.4.2
configparser==3.5.0
cryptography==2.3.1
docutils==0.14
ERPpeek==1.6.3
flower==0.9.2
future==0.16.0
gidgethub==3.0.0
github3.py==1.2.0
idna==2.7
idna-ssl==1.1.0
inflection==0.3.1
Jinja2==2.10
jwcrypto==0.5.0
kombu==4.2.1
MarkupSafe==1.0
multidict==4.4.2
-e git+https://github.com/OCA/maintainer-tools.git@19d880bd490b1f7562e5a26160bc4d37c07e75a7#egg=oca_maintainers_tools
pkginfo==1.4.2
polib==1.1.0
pycodestyle==2.4.0
pycparser==2.19
Pygments==2.2.0
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.13
raven==6.9.0
readme-renderer==22.0
redis==2.10.6
requests==2.19.1
requests-toolbelt==0.8.0
setuptools-odoo==2.4.0
setuptools-scm==3.1.0
six==1.11.0
tornado==5.1.1
tqdm==4.26.0
twine==1.12.1
uritemplate==3.0.0
urllib3==1.23
vine==1.1.4
webencodings==0.5.1
yarl==1.2.6
