interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: GET
    uri: https://api.github.com/repos/OCA/mis-builder
  response:
    body:
      string: '{"id":105316242,"node_id":"MDEwOlJlcG9zaXRvcnkxMDUzMTYyNDI=","name":"mis-builder","full_name":"OCA/mis-builder","private":false,"owner":{"login":"OCA","id":7600578,"node_id":"MDEyOk9yZ2FuaXphdGlvbjc2MDA1Nzg=","avatar_url":"https://avatars.githubusercontent.com/u/7600578?v=4","gravatar_id":"","url":"https://api.github.com/users/OCA","html_url":"https://github.com/OCA","followers_url":"https://api.github.com/users/OCA/followers","following_url":"https://api.github.com/users/OCA/following{/other_user}","gists_url":"https://api.github.com/users/OCA/gists{/gist_id}","starred_url":"https://api.github.com/users/OCA/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/OCA/subscriptions","organizations_url":"https://api.github.com/users/OCA/orgs","repos_url":"https://api.github.com/users/OCA/repos","events_url":"https://api.github.com/users/OCA/events{/privacy}","received_events_url":"https://api.github.com/users/OCA/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/OCA/mis-builder","description":"Management
        Information System reports for Odoo: easily build super fast, beautiful, custom
        reports such as P&L, Balance Sheets and more.","fork":false,"url":"https://api.github.com/repos/OCA/mis-builder","forks_url":"https://api.github.com/repos/OCA/mis-builder/forks","keys_url":"https://api.github.com/repos/OCA/mis-builder/keys{/key_id}","collaborators_url":"https://api.github.com/repos/OCA/mis-builder/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/OCA/mis-builder/teams","hooks_url":"https://api.github.com/repos/OCA/mis-builder/hooks","issue_events_url":"https://api.github.com/repos/OCA/mis-builder/issues/events{/number}","events_url":"https://api.github.com/repos/OCA/mis-builder/events","assignees_url":"https://api.github.com/repos/OCA/mis-builder/assignees{/user}","branches_url":"https://api.github.com/repos/OCA/mis-builder/branches{/branch}","tags_url":"https://api.github.com/repos/OCA/mis-builder/tags","blobs_url":"https://api.github.com/repos/OCA/mis-builder/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/OCA/mis-builder/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/OCA/mis-builder/git/refs{/sha}","trees_url":"https://api.github.com/repos/OCA/mis-builder/git/trees{/sha}","statuses_url":"https://api.github.com/repos/OCA/mis-builder/statuses/{sha}","languages_url":"https://api.github.com/repos/OCA/mis-builder/languages","stargazers_url":"https://api.github.com/repos/OCA/mis-builder/stargazers","contributors_url":"https://api.github.com/repos/OCA/mis-builder/contributors","subscribers_url":"https://api.github.com/repos/OCA/mis-builder/subscribers","subscription_url":"https://api.github.com/repos/OCA/mis-builder/subscription","commits_url":"https://api.github.com/repos/OCA/mis-builder/commits{/sha}","git_commits_url":"https://api.github.com/repos/OCA/mis-builder/git/commits{/sha}","comments_url":"https://api.github.com/repos/OCA/mis-builder/comments{/number}","issue_comment_url":"https://api.github.com/repos/OCA/mis-builder/issues/comments{/number}","contents_url":"https://api.github.com/repos/OCA/mis-builder/contents/{+path}","compare_url":"https://api.github.com/repos/OCA/mis-builder/compare/{base}...{head}","merges_url":"https://api.github.com/repos/OCA/mis-builder/merges","archive_url":"https://api.github.com/repos/OCA/mis-builder/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/OCA/mis-builder/downloads","issues_url":"https://api.github.com/repos/OCA/mis-builder/issues{/number}","pulls_url":"https://api.github.com/repos/OCA/mis-builder/pulls{/number}","milestones_url":"https://api.github.com/repos/OCA/mis-builder/milestones{/number}","notifications_url":"https://api.github.com/repos/OCA/mis-builder/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/OCA/mis-builder/labels{/name}","releases_url":"https://api.github.com/repos/OCA/mis-builder/releases{/id}","deployments_url":"https://api.github.com/repos/OCA/mis-builder/deployments","created_at":"2017-09-29T20:53:23Z","updated_at":"2024-06-05T14:36:04Z","pushed_at":"2024-06-17T19:47:55Z","git_url":"git://github.com/OCA/mis-builder.git","ssh_url":"git@github.com:OCA/mis-builder.git","clone_url":"https://github.com/OCA/mis-builder.git","svn_url":"https://github.com/OCA/mis-builder","homepage":"","size":8345,"stargazers_count":140,"watchers_count":140,"language":"Python","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":true,"forks_count":299,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":46,"license":{"key":"agpl-3.0","name":"GNU
        Affero General Public License v3.0","spdx_id":"AGPL-3.0","url":"https://api.github.com/licenses/agpl-3.0","node_id":"MDc6TGljZW5zZTE="},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":["erp","hacktoberfest","odoo"],"visibility":"public","forks":299,"open_issues":46,"watchers":140,"default_branch":"16.0","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":true,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","custom_properties":{},"organization":{"login":"OCA","id":7600578,"node_id":"MDEyOk9yZ2FuaXphdGlvbjc2MDA1Nzg=","avatar_url":"https://avatars.githubusercontent.com/u/7600578?v=4","gravatar_id":"","url":"https://api.github.com/users/OCA","html_url":"https://github.com/OCA","followers_url":"https://api.github.com/users/OCA/followers","following_url":"https://api.github.com/users/OCA/following{/other_user}","gists_url":"https://api.github.com/users/OCA/gists{/gist_id}","starred_url":"https://api.github.com/users/OCA/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/OCA/subscriptions","organizations_url":"https://api.github.com/users/OCA/orgs","repos_url":"https://api.github.com/users/OCA/repos","events_url":"https://api.github.com/users/OCA/events{/privacy}","received_events_url":"https://api.github.com/users/OCA/received_events","type":"Organization","site_admin":false},"security_and_analysis":{"secret_scanning":{"status":"disabled"},"secret_scanning_push_protection":{"status":"disabled"},"dependabot_security_updates":{"status":"enabled"},"secret_scanning_validity_checks":{"status":"disabled"}},"network_count":299,"subscribers_count":47}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"49c38610efaf99b41c8792a60e455dea432f26bd3efebe4422dfca9fdedeea6e"
      Last-Modified:
      - Wed, 05 Jun 2024 14:36:04 GMT
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v3; param=full; format=json
      X-OAuth-Scopes:
      - read:org, read:user, repo, workflow
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4433'
      X-RateLimit-Reset:
      - '1719409086'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '567'
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: GET
    uri: https://api.github.com/repos/OCA/mis-builder/collaborators?affiliation=all&per_page=100
  response:
    body:
      string: '[{"login":"rvalyi","id":16926,"node_id":"MDQ6VXNlcjE2OTI2","avatar_url":"https://avatars.githubusercontent.com/u/16926?v=4","gravatar_id":"","url":"https://api.github.com/users/rvalyi","html_url":"https://github.com/rvalyi","followers_url":"https://api.github.com/users/rvalyi/followers","following_url":"https://api.github.com/users/rvalyi/following{/other_user}","gists_url":"https://api.github.com/users/rvalyi/gists{/gist_id}","starred_url":"https://api.github.com/users/rvalyi/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rvalyi/subscriptions","organizations_url":"https://api.github.com/users/rvalyi/orgs","repos_url":"https://api.github.com/users/rvalyi/repos","events_url":"https://api.github.com/users/rvalyi/events{/privacy}","received_events_url":"https://api.github.com/users/rvalyi/received_events","type":"User","site_admin":false,"permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"role_name":"admin"},{"login":"ovnicraft","id":31282,"node_id":"MDQ6VXNlcjMxMjgy","avatar_url":"https://avatars.githubusercontent.com/u/31282?v=4","gravatar_id":"","url":"https://api.github.com/users/ovnicraft","html_url":"https://github.com/ovnicraft","followers_url":"https://api.github.com/users/ovnicraft/followers","following_url":"https://api.github.com/users/ovnicraft/following{/other_user}","gists_url":"https://api.github.com/users/ovnicraft/gists{/gist_id}","starred_url":"https://api.github.com/users[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: GET
    uri: https://api.github.com/repositories/105316242/collaborators?affiliation=all&per_page=100&page=2
  response:
    body:
      string: '[{"login":"njeudy","id":995787,"node_id":"MDQ6VXNlcjk5NTc4Nw==","avatar_url":"https://avatars.githubusercontent.com/u/995787?v=4","gravatar_id":"","url":"https://api.github.com/users/njeudy","html_url":"https://github.com/n[...]
[...]
