interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: GET
    uri: https://api.github.com/repos/OCA/contract
  response:
    body:
      string: |-
        {
          "id": 20896181,
          "node_id": "MDEwOlJlcG9zaXRvcnkyMDg5NjE4MQ==",
          "name": "contract",
          "full_name": "OCA/contract",
          "private": false,
          "owner": {
            "login": "OCA",
            "id": 7600578,
            "node_id": "MDEyOk9yZ2FuaXphdGlvbjc2MDA1Nzg=",
            "avatar_url": "https://avatars.githubusercontent.com/u/7600578?v=4",
            "gravatar_id": "",
            "url": "https://api.github.com/users/OCA",
            "html_url": "https://github.com/OCA",
            "followers_url": "https://api.github.com/users/OCA/followers",
            "following_url": "https://api.github.com/users/OCA/following{/other_user}",
            "gists_url": "https://api.github.com/users/OCA/gists{/gist_id}",
            "starred_url": "https://api.github.com/users/OCA/starred{/owner}{/repo}",
            "subscriptions_url": "https://api.github.com/users/OCA/subscriptions",
            "organizations_url": "https://api.github.com/users/OCA/orgs",
            "repos_url": "https://api.github.com/users/OCA/repos",
            "events_url": "https://api.github.com/users/OCA/events{/privacy}",
            "received_events_url": "https://api.github.com/users/OCA/received_events",
            "type": "Organization",
            "site_admin": false
          },
          "html_url": "https://github.com/OCA/contract",
          "description": null,
          "fork": false,
          "url": "https://api.github.com/repos/OCA/contract",
          "forks_url": "https://api.github.com/repos/OCA/contract/forks",
          "keys_url": "https://api.github.com/repos/OCA/contract/keys{/key_id}",
          "collaborators_url": "https://api.github.com/repos/OCA/contract/collaborators{/collaborator}",
          "teams_url": "https://api.github.com/repos/OCA/contract/teams",
          "hooks_url": "https://api.github.com/repos/OCA/contract/hooks",
          "issue_events_url": "https://api.github.com/repos/OCA/contract/issues/events{/number}",
          "events_url": "https://api.github.com/repos/OCA/contract/events",
          "assignees_url": "https://api.github.com/repos/OCA/contract/assignees{/user}",
          "branches_url": "https://api.github.com/repos/OCA/contract/branches{/branch}",
          "tags_url": "https://api.github.com/repos/OCA/contract/tags",
          "blobs_url": "https://api.github.com/repos/OCA/contract/git/blobs{/sha}",
          "git_tags_url": "https://api.github.com/repos/OCA/contract/git/tags{/sha}",
          "git_refs_url": "https://api.github.com/repos/OCA/contract/git/refs{/sha}",
          "trees_url": "https://api.github.com/repos/OCA/contract/git/trees{/sha}",
          "statuses_url": "https://api.github.com/repos/OCA/contract/statuses/{sha}",
          "languages_url": "https://api.github.com/repos/OCA/contract/languages",
          "stargazers_url": "https://api.github.com/repos/OCA/contract/stargazers",
          "contributors_url": "https://api.github.com/repos/OCA/contract/contributors",
          "subscribers_url": "https://api.github.com/repos/OCA/contract/subscribers",
          "subscription_url": "https://api.github.com/repos/OCA/contract/subscription",
          "commits_url": "https://api.github.com/repos/OCA/contract/commits{/sha}",
          "git_commits_url": "https://api.github.com/repos/OCA/contract/git/commits{/sha}",
          "comments_url": "https://api.github.com/repos/OCA/contract/comments{/number}",
          "issue_comment_url": "https://api.github.com/repos/OCA/contract/issues/comments{/number}",
          "contents_url": "https://api.github.com/repos/OCA/contract/contents/{+path}",
          "compare_url": "https://api.github.com/repos/OCA/contract/compare/{base}...{head}",
          "merges_url": "https://api.github.com/repos/OCA/contract/merges",
          "archive_url": "https://api.github.com/repos/OCA/contract/{archive_format}{/ref}",
          "downloads_url": "https://api.github.com/repos/OCA/contract/downloads",
          "issues_url": "https://api.github.com/repos/OCA/contract/issues{/number}",
          "pulls_url": "https://api.github.com/repos/OCA/contract/pulls{/number}",
          "milestones_url": "https://api.github.com/repos/OCA/contract/milestones{/number}",
          "notifications_url": "https://api.github.com/repos/OCA/contract/notifications{?since,all,participating}",
          "labels_url": "https://api.github.com/repos/OCA/contract/labels{/name}",
          "releases_url": "https://api.github.com/repos/OCA/contract/releases{/id}",
          "deployments_url": "https://api.github.com/repos/OCA/contract/deployments",
          "created_at": "2014-06-16T18:42:03Z",
          "updated_at": "2021-10-21T14:40:48Z",
          "pushed_at": "2021-10-22T07:40:07Z",
          "git_url": "git://github.com/OCA/contract.git",
          "ssh_url": "git@github.com:OCA/contract.git",
          "clone_url": "https://github.com/OCA/contract.git",
          "svn_url": "https://github.com/OCA/contract",
          "homepage": "",
          "size": 9351,
          "stargazers_count": 112,
          "watchers_count": 112,
          "language": "Python",
          "has_issues": true,
          "has_projects": false,
          "has_downloads": true,
          "has_wiki": false,
          "has_pages": false,
          "forks_count": 347,
          "mirror_url": null,
          "archived": false,
          "disabled": false,
          "open_issues_count": 114,
          "license": {
            "key": "agpl-3.0",
            "name": "GNU Affero General Public License v3.0",
            "spdx_id": "AGPL-3.0",
            "url": "https://api.github.com/licenses/agpl-3.0",
            "node_id": "MDc6TGljZW5zZTE="
          },
          "allow_forking": true,
          "is_template": false,
          "topics": [
            "erp",
            "hacktoberfest",
            "odoo"
          ],
          "visibility": "public",
          "forks": 347,
          "open_issues": 114,
          "watchers": 112,
          "default_branch": "14.0",
          "temp_clone_token": null,
          "organization": {
            "login": "OCA",
            "id": 7600578,
            "node_id": "MDEyOk9yZ2FuaXphdGlvbjc2MDA1Nzg=",
            "avatar_url": "https://avatars.githubusercontent.com/u/7600578?v=4",
            "gravatar_id": "",
            "url": "https://api.github.com/users/OCA",
            "html_url": "https://github.com/OCA",
            "followers_url": "https://api.github.com/users/OCA/followers",
            "following_url": "https://api.github.com/users/OCA/following{/other_user}",
            "gists_url": "https://api.github.com/users/OCA/gists{/gist_id}",
            "starred_url": "https://api.github.com/users/OCA/starred{/owner}{/repo}",
            "subscriptions_url": "https://api.github.com/users/OCA/subscriptions",
            "organizations_url": "https://api.github.com/users/OCA/orgs",
            "repos_url": "https://api.github.com/users/OCA/repos",
            "events_url": "https://api.github.com/users/OCA/events{/privacy}",
            "received_events_url": "https://api.github.com/users/OCA/received_events",
            "type": "Organization",
            "site_admin": false
          },
          "network_count": 347,
          "subscribers_count": 75
        }
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=full; format=json
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Remaining:
      - '59'
      X-RateLimit-Reset:
      - '1614013988'
      x-ratelimit-used:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: GET
    uri: https://api.github.com/repos/OCA/contract/milestones?per_page=100
  response:
    body:
      string: |-
        [
          {
            "url": "https://api.github.com/repos/OCA/contract/milestones/1",
            "html_url": "https://github.com/OCA/contract/milestone/1",
            "labels_url": "https://api.github.com/repos/OCA/contract/milestones/1/labels",
            "id": 1280261,
            "node_id": "MDk6TWlsZXN0b25lMTI4MDI2MQ==",
            "number": 1,
            "title": "8.0",
            "description": "",
            "creator": {
              "login": "max3903",
              "id": 939952,
              "node_id": "MDQ6VXNlcjkzOTk1Mg==",
              "avatar_url": "https://avatars.githubusercontent.com/u/939952?v=4",
              "gravatar_id": "",
              "url": "https://api.github.com/users/max3903",
              "html_url": "https://github.com/max3903",
              "followers_url": "https://api.github.com/users/max3903/followers",
              "following_url": "https://api.github.com/users/max3903/following{/other_user}",
              "gists_url": "https://api.github.com/users/max3903/gists{/gist_id}",
              "starred_url": "https://api.github.com/users/max3903/starred{/owner}{/repo}",
              "subscriptions_url": "https://api.github.com/users/max3903/subscriptions",
              "organizations_url": "https://api.github.com/users/max3903/orgs",
              "repos_url": "https://api.github.com/users/max3903/repos",
              "events_url": "https://api.github.com/users/max3903/events{/privacy}",
              "received_events_url": "https://api.github.com/users/max3903/received_events",
              "type": "User",
              "site_admin": false
            },
            "open_issues": 0,
            "closed_issues": 11,
            "state": "open",
            "created_at": "2015-08-30T18:02:23Z",
            "updated_at": "2018-03-26T15:37:25Z",
            "due_on": null,
            "closed_at": null
          },
          {
            "url": "https://api.github.com/repos/OCA/contract/milestones/2",
            "html_url": "https://github.com/OCA/contract/milestone/2",
            "labels_url": "https://api.github.com/repos/OCA/contract/milestones/2/labels",
            "id": 1280262,
            "node_id": "MDk6TWlsZXN0b25lMTI4MDI2Mg==",
            "number": 2,
            "title": "7.0",
            "description": "",
            "creator": {
              "login": "max3903",
     [...]
