interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: GET
    uri: https://api.github.com/repos/OCA/mis-builder
  response:
    body:
      string: '{"id":105316242,"node_id":"MDEwOlJlcG9zaXRvcnkxMDUzMTYyNDI=","name":"mis-builder","full_name":"OCA/mis-builder","private":false,"owner":{"login":"OCA","id":7600578,"node_id":"MDEyOk9yZ2FuaXphdGlvbjc2MDA1Nzg=","avatar_url":"https://avatars.githubusercontent.com/u/7600578?v=4","gravatar_id":"","url":"https://api.github.com/users/OCA","html_url":"https://github.com/OCA","followers_url":"https://api.github.com/users/OCA/followers","following_url":"https://api.github.com/users/OCA/following{/other_user}","gists_url":"https://api.github.com/users/OCA/gists{/gist_id}","starred_url":"https://api.github.com/users/OCA/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/OCA/subscriptions","organizations_url":"https://api.github.com/users/OCA/orgs","repos_url":"https://api.github.com/users/OCA/repos","events_url":"https://api.github.com/users/OCA/events{/privacy}","received_events_url":"https://api.github.com/users/OCA/received_events","type":"Organization","user_view_type":"public","site_admin":false},"html_url":"https://github.com/OCA/mis-builder","description":"Management
        Information System reports for Odoo: easily build super fast, beautiful, custom
        reports such as P&L, Balance Sheets and more.","fork":false,"url":"https://api.github.com/repos/OCA/mis-builder","forks_url":"https://api.github.com/repos/OCA/mis-builder/forks","keys_url":"https://api.github.com/repos/OCA/mis-builder/keys{/key_id}","collaborators_url":"https://api.github.com/repos/OCA/mis-builder/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/OCA/mis-builder/teams","hooks_url":"https://api.github.com/repos/OCA/mis-builder/hooks","issue_events_url":"https://api.github.com/repos/OCA/mis-builder/issues/events{/number}","events_url":"https://api.github.com/repos/OCA/mis-builder/events","assignees_url":"https://api.github.com/repos/OCA/mis-builder/assignees{/user}","branches_url":"https://api.github.com/repos/OCA/mis-builder/branches{/branch}","tags_url":"https://api.github.com/repos/OCA/mis-builder/tags","blobs_url":"https://api.github.com/repos/OCA/mis-builder/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/OCA/mis-builder/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/OCA/mis-builder/git/refs{/sha}","trees_url":"https://api.github.com/repos/OCA/mis-builder/git/trees{/sha}","statuses_url":"https://api.github.com/repos/OCA/mis-builder/statuses/{sha}","languages_url":"https://api.github.com/repos/OCA/mis-builder/languages","stargazers_url":"https://api.github.com/repos/OCA/mis-builder/stargazers","contributors_url":"https://api.github.com/repos/OCA/mis-builder/contributors","subscribers_url":"https://api.github.com/repos/OCA/mis-builder/subscribers","subscription_url":"https://api.github.com/repos/OCA/mis-builder/subscription","commits_url":"https://api.github.com/repos/OCA/mis-builder/commits{/sha}","git_commits_url":"https://api.github.com/repos/OCA/mis-builder/git/commits{/sha}","comments_url":"https://api.github.com/repos/OCA/mis-builder/comments{/number}","issue_comment_url":"https://api.github.com/repos/OCA/mis-builder/issues/comments{/number}","contents_url":"https://api.github.com/repos/OCA/mis-builder/contents/{+path}","compare_url":"https://api.github.com/repos/OCA/mis-builder/compare/{base}...{head}","merges_url":"https://api.github.com/repos/OCA/mis-builder/merges","archive_url":"https://api.github.com/repos/OCA/mis-builder/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/OCA/mis-builder/downloads","issues_url":"https://api.github.com/repos/OCA/mis-builder/issues{/number}","pulls_url":"https://api.github.com/repos/OCA/mis-builder/pulls{/number}","milestones_url":"https://api.github.com/repos/OCA/mis-builder/milestones{/number}","notifications_url":"https://api.github.com/repos/OCA/mis-builder/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/OCA/mis-builder/labels{/name}","releases_url":"https://api.github.com/repos/OCA/mis-builder/releases{/id}","deployments_url":"https://api.github.com/repos/OCA/mis-builder/deployments","created_at":"2017-09-29T20:53:23Z","updated_at":"2026-03-30T22:36:43Z","pushed_at":"2026-03-17T11:45:29Z","git_url":"git://github.com/OCA/mis-builder.git","ssh_url":"git@github.com:OCA/mis-builder.git","clone_url":"https://github.com/OCA/mis-builder.git","svn_url":"https://github.com/OCA/mis-builder","homepage":"","size":10363,"stargazers_count":175,"watchers_count":175,"language":"Python","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":true,"forks_count":364,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":68,"license":{"key":"agpl-3.0","name":"GNU
        Affero General Public License v3.0","spdx_id":"AGPL-3.0","url":"https://api.github.com/licenses/agpl-3.0","node_id":"MDc6TGljZW5zZTE="},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"has_pull_requests":true,"pull_request_creation_policy":"all","topics":["erp","hacktoberfest","odoo"],"visibility":"public","forks":364,"open_issues":68,"watchers":175,"default_branch":"18.0","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":true,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","custom_properties":{},"organization":{"login":"OCA","id":7600578,"node_id":"MDEyOk9yZ2FuaXphdGlvbjc2MDA1Nzg=","avatar_url":"https://avatars.githubusercontent.com/u/7600578?v=4","gravatar_id":"","url":"https://api.github.com/users/OCA","html_url":"https://github.com/OCA","followers_url":"https://api.github.com/users/OCA/followers","following_url":"https://api.github.com/users/OCA/following{/other_user}","gists_url":"https://api.github.com/users/OCA/gists{/gist_id}","starred_url":"https://api.github.com/users/OCA/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/OCA/subscriptions","organizations_url":"https://api.github.com/users/OCA/orgs","repos_url":"https://api.github.com/users/OCA/repos","events_url":"https://api.github.com/users/OCA/events{/privacy}","received_events_url":"https://api.github.com/users/OCA/received_events","type":"Organization","user_view_type":"public","site_admin":false},"security_and_analysis":{"secret_scanning":{"status":"disabled"},"secret_scanning_push_protection":{"status":"disabled"},"dependabot_security_updates":{"status":"enabled"},"secret_scanning_non_provider_patterns":{"status":"disabled"},"secret_scanning_validity_checks":{"status":"disabled"}},"network_count":364,"subscribers_count":42}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"43d0a3537052654c1b85c9d96dfcc39c2e2caf8fdb26159254c230c32c4788d9"
      Last-Modified:
      - Mon, 30 Mar 2026 22:36:43 GMT
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v3; param=full; format=json
      X-OAuth-Scopes:
      - gist, read:org, repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4989'
      X-RateLimit-Reset:
      - '1775131848'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '11'
      x-github-api-version-selected:
      - '2022-11-28'
      x-oauth-client-id:
      - 178c6fc778ccc68e1d6a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: GET
    uri: https://api.github.com/repos/OCA/mis-builder/pulls/610
  response:
    body:
      string: "{\"url\":\"https://api.github.com/repos/OCA/mis-builder/pulls/610\",\"id\":1892283352,\"node_id\":\"PR_kwDOBkb_ks5wyfPY\",\"html_url\":\"https://github.com/OCA/mis-builder/pull/610\",\"diff_url\":\"https://github.com/OCA/mis-builder/pull/610.diff\",\"patch_url\":\"https://github.com/OCA/mis-builder/pull/610.patch\",\"issue_url\":\"https://api.github.com/repos/OCA/mis-builder/issues/610\",\"number\":610,\"state\":\"closed\",\"locked\":false,\"title\":\"[15.0][IMP]
        add: css sticky table header added for mis-builder-widget\",\"user\":{\"login\":\"hitrosol\",\"id\":5949936,\"node_id\":\"MDQ6VXNlcjU5NDk5MzY=\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/5949936?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/hitrosol\",\"html_url\":\"https://github.com/hitrosol\",\"followers_url\":\"https://api.github.com/users/hitrosol/followers\",\"following_url\":\"https://api.github.com/users/hitrosol/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/hitrosol/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/hitrosol/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/hitrosol/subscriptions\",\"organizations_url\":\"https://api.github.com/users/hitrosol/orgs\",\"repos_url\":\"https://api.github.com/users/hitrosol/repos\",\"events_url\":\"https://api.github.com/users/hitrosol/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/hitrosol/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"body\":\"i
        forward the improvement in v14 from https://github.com/OCA/mis-builder/pull/588\\r\\n\",\"created_at\":\"2024-05-28T16:40:39Z\",\"updated_at\":\"2025-02-28T14:15:38Z\",\"closed_at\":\"2024-11-10T17:19:56Z\",\"merged_at\":\"2024-11-10T17:19:56Z\",\"merge_commit_sha\":\"7bf91bb8abbc1452e841a017dedd39c68499a12b\",\"assignees\":[],\"requested_reviewers\":[],\"requested_teams\":[],\"labels\":[{\"id\":1407506376,\"node_id\":\"MDU6TGFiZWwxNDA3NTA2Mzc2\",\"url\":\"https://api.github.com/repos/OCA/mis-builder/labels/merged%20%F0%9F%8E%89\",\"name\":\"merged
        \U0001F389\",\"color\":\"ededed\",\"default\":false,\"description\":\"\"},{\"id\":7236411066,\"node_id\":\"LA_kwDOBkb_ks8AAAABr1Leug\",\"url\":\"https://api.github.com/repos/OCA/mis-builder/labels/mod:mis_builder\",\"name\":\"mod:mis_builder\",\"color\":\"ededed\",\"default\":false,\"description\":\"\"},{\"id\":7236411148,\"node_id\":\"LA_kwDOBkb_ks8AAAABr1LfDA\",\"url\":\"https://api.github.com/repos/OCA/mis-builder/labels/series:15.0\",\"name\":\"series:15.0\",\"color\":\"ededed\",\"default\":false,\"description\":null}],\"milestone\":null,\"draft\":false,\"commits_url\":\"https://api.github.com/repos/OCA/mis-builder/pulls/610/commits\",\"review_comments_url\":\"https://api.github.com/repos/OCA/mis-builder/pulls/610/comments\",\"review_comment_url\":\"https://api.github.com/repos/OCA/mis-builder/pulls/comments{/number}\",\"comments_url\":\"https://api.github.com/repos/OCA/mis-builder/issues/610/comments\",\"statuses_url\":\"https://api.github.com/repos/OCA/mis-builder/statuses/d18c5d4d7e64a22c777cfe9a63cd00dae730c522\",\"head\":{\"label\":\"hitrosol:15.0-imp-mis_builder\",\"ref\":\"15.0-imp-mis_builder\",\"sha\":\"d18c5d4d7e64a22c777cfe9a63cd00dae730c522\",\"user\":{\"login\":\"hitrosol\",\"id\":5949936,\"node_id\":\"MDQ6VXNlcjU5NDk5MzY=\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/5949936?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/hitrosol\",\"html_url\":\"https://github.com/hitrosol\",\"followers_url\":\"https://api.github.com/users/hitrosol/followers\",\"following_url\":\"https://api.github.com/users/hitrosol/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/hitrosol/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/hitrosol/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/hitrosol/subscriptions\",\"organizations_url\":\"https://api.github.com/users/hitrosol/orgs\",\"repos_url\":\"https://api.github.com/users/hitrosol/repos\",\"events_url\":\"https://api.github.com/users/hitrosol/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/hitrosol/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"repo\":{\"id\":807198047,\"node_id\":\"R_kgDOMBzdXw\",\"name\":\"mis-builder\",\"full_name\":\"hitrosol/mis-builder\",\"private\":false,\"owner\":{\"login\":\"hitrosol\",\"id\":5949936,\"node_id\":\"MDQ6VXNlcjU5NDk5MzY=\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/5949936?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/hitrosol\",\"html_url\":\"https://github.com/hitrosol\",\"followers_url\":\"https://api.github.com/users/hitrosol/followers\",\"following_url\":\"https://[...]
