interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: GET
    uri: https://api.github.com/repos/OCA/mis-builder/pulls/610
  response:
    body:
      string: '{"url":"https://api.github.com/repos/OCA/mis-builder/pulls/610","id":1892283352,"node_id":"PR_kwDOBkb_ks5wyfPY","html_url":"https://github.com/OCA/mis-builder/pull/610","diff_url":"https://github.com/OCA/mis-builder/pull/610.diff","patch_url":"https://github.com/OCA/mis-builder/pull/610.patch","issue_url":"https://api.github.com/repos/OCA/mis-builder/issues/610","number":610,"state":"open","locked":false,"title":"[15.0][IMP]
        add: css sticky table header added for mis-builder-widget","user":{"login":"hitrosol","id":5949936,"node_id":"MDQ6VXNlcjU5NDk5MzY=","avatar_url":"https://avatars.githubusercontent.com/u/5949936?v=4","gravatar_id":"","url":"https://api.github.com/users/hitrosol","html_url":"https://github.com/hitrosol","followers_url":"https://api.github.com/users/hitrosol/followers","following_url":"https://api.github.com/users/hitrosol/following{/other_user}","gists_url":"https://api.github.com/users/hitrosol/gists{/gist_id}","starred_url":"https://api.github.com/users/hitrosol/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hitrosol/subscriptions","organizations_url":"https://api.github.com/users/hitrosol/orgs","repos_url":"https://api.github.com/users/hitrosol/repos","events_url":"https://api.github.com/users/hitrosol/events{/privacy}","received_events_url":"https://api.github.com/users/hitrosol/received_events","type":"User","site_admin":false},"body":"i
        forward the improvement in v14 from https://github.com/OCA/mis-builder/pull/588\r\n","created_at":"2024-05-28T16:40:39Z","updated_at":"2024-05-28T16:40:50Z","closed_at":null,"merged_at":null,"merge_commit_sha":"f69d343c11e0c98cd6ed72e6805850d20a575e0f","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/OCA/mis-builder/pulls/610/commits","review_comments_url":"https://api.github.com/repos/OCA/mis-builder/pulls/610/comments","review_comment_url":"https://api.github.com/repos/OCA/mis-builder/pulls/comments{/number}","comments_url":"https://api.github.com/repos/OCA/mis-builder/issues/610/comments","statuses_url":"https://api.github.com/repos/OCA/mis-builder/statuses/d18c5d4d7e64a22c777cfe9a63cd00dae730c522","head":{"label":"hitrosol:15.0-imp-mis_builder","ref":"15.0-imp-mis_builder","sha":"d18c5d4d7e64a22c777cfe9a63cd00dae730c522","user":{"login":"hitrosol","id":5949936,"node_id":"MDQ6VXNlcjU5NDk5MzY=","avatar_url":"https://avatars.githubusercontent.com/u/5949936?v=4","gravatar_id":"","url":"https://api.github.com/users/hitrosol","html_url":"https://github.com/hitrosol","followers_url":"https://api.github.com/users/hitrosol/followers","following_url":"https://api.github.com/users/hitrosol/following{/other_user}","gists_url":"https://api.github.com/users/hitrosol/gists{/gist_id}","starred_url":"https://api.github.com/users/hitrosol/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hitrosol/subscriptions","organizations_url":"https://api.github.com/users/hitrosol/orgs","repos_url":"https://api.github.com/users/hitrosol/repos","events_url":"https://api.github.com/users/hitrosol/events{/privacy}","received_events_url":"https://api.github.com/users/hitrosol/received_events","type":"User","site_admin":false},"repo":{"id":807198047,"node_id":"R_kgDOMBzdXw","name":"mis-builder","full_name":"hitrosol/mis-builder","private":false,"owner":{"login":"hitrosol","id":5949936,"node_id":"MDQ6VXNlcjU5NDk5MzY=","avatar_url":"https://avatars.githubusercontent.com/u/5949936?v=4","gravatar_id":"","url":"https://api.github.com/users/hitrosol","html_url":"https://github.com/hitrosol","followers_url":"https://api.github.com/users/hitrosol/followers","following_url":"https://api.github.com/users/hitrosol/following{/other_user}","gists_url":"https://api.github.com/users/hitrosol/gists{/gist_id}","starred_url":"https://api.github.com/users/hitrosol/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hitrosol/subscriptions","organizations_url":"https://api.github.com/users/hitrosol/orgs","repos_url":"https://api.github.com/users/hitrosol/repos","events_url":"https://api.github.com/users/hitrosol/events{/privacy}","received_events_url":"https://api.github.com/users/hitrosol/received_events","type":"User","site_admin":false},"html_url":"https://github.com/hitrosol/mis-builder","description":"Management
        Information System reports for Odoo: easily build super fast, beautiful, custom
        reports such as P&L, Balance Sheets and more.","fork":true,"url":"https://api.github.com/repos/hitrosol/mis-builder","forks_url":"https://api.github.com/repos/hitrosol/mis-builder/forks","keys_url":"https://api.github.com/repos/hitrosol/mis-builder/keys{/key_id}","collaborators_url":"https://api.github.com/repos/hitrosol/mis-builder/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/hitrosol/mis-builder/teams","hooks_url":"https://api.github.com/repos/hitrosol/mis-builder/hooks","issue_events_url":"https://api.github.com/repos/hitrosol/mis-builder/issues/events{/number}","events_url":"https://api.github.com/repos/hitrosol/mis-builder/events","assignees_url":"https://api.github.com/repos/hitrosol/mis-builder/assignees{/user}","branches_url":"https://api.github.com/repos/hitrosol/mis-builder/branches{/branch}","tags_url":"https://api.github.com/repos/hitrosol/mis-builder/tags","blobs_url":"https://api.github.com/repos/hitrosol/mis-builder/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/hitrosol/mis-builder/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/hitrosol/mis-builder/git/refs{/sha}","trees_url":"https://api.github.com/repos/hitrosol/mis-builder/git/trees{/sha}","statuses_url":"https://api.github.com/repos/hitrosol/mis-builder/statuses/{sha}","languages_url":"https://api.github.com/repos/hitrosol/mis-builder/languages","stargazers_url":"https://api.github.com/repos/hitrosol/mis-builder/stargazers","contributors_url":"https://api.github.com/repos/hitrosol/mis-builder/contributors","subscribers_url":"https://api.github.com/repos/hitrosol/mis-builder/subscribers","subscription_url":"https://api.github.com/repos/hitrosol/mis-builder/subscription","commits_url":"https://api.github.com/repos/hitrosol/mis-builder/commits{/sha}","git_commits_url":"https://api.github.com/repos/hitrosol/mis-builder/git/commits{/sha}","comments_url":"https://api.github.com/repos/hitrosol/mis-builder/comments{/number}","issue_comment_url":"https://api.github.com/repos/hitrosol/mis-builder/issues/comments{/number}","contents_url":"https://api.github.com/repos/hitrosol/mis-builder/contents/{+path}","compare_url":"https://api.github.com/repos/hitrosol/mis-builder/compare/{base}...{head}","merges_url":"https://api.github.com/repos/hitrosol/mis-builder/merges","archive_url":"https://api.github.com/repos/hitrosol/mis-builder/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/hitrosol/mis-builder/downloads","issues_url":"https://api.github.com/repos/hitrosol/mis-builder/issues{/number}","pulls_url":"https://api.github.com/repos/hitrosol/mis-builder/pulls{/number}","milestones_url":"https://api.github.com/repos/hitrosol/mis-builder/milestones{/number}","notifications_url":"https://api.github.com/repos/hitrosol/mis-builder/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/hitrosol/mis-builder/labels{/name}","releases_url":"https://api.github.com/repos/hitrosol/mis-builder/releases{/id}","deployments_url":"https://api.github.com/repos/hitrosol/mis-builder/deployments","created_at":"2024-05-28T16:37:08Z","updated_at":"2024-05-28T16:37:08Z","pushed_at":"2024-05-28T16:38:09Z","git_url":"git://github.com/hitrosol/mis-builder.git","ssh_url":"git@github.com:hitrosol/mis-builder.git","clone_url":"https://github.com/hitrosol/mis-builder.git","svn_url":"https://github.com/hitrosol/mis-builder","homepage":"","size":8072,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":{"key":"agpl-3.0","name":"GNU
        Affero General Public License v3.0","spdx_id":"AGPL-3.0","url":"https://api.github.com/licenses/agpl-3.0","node_id":"MDc6TGljZW5zZTE="},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"16.0"}},"base":{"label":"OCA:15.0","ref":"15.0","sha":"964efcd53ecc5709f3f7478ccc7f96037db7abf4","user":{"login":"OCA","id":7600578,"node_id":"MDEyOk9yZ2FuaXphdGlvbjc2MDA1Nzg=","avatar_url":"https://avatars.githubusercontent.com/u/7600578?v=4","gravatar_id":"","url":"https://api.github.com/users/OCA","html_url":"https://github.com/OCA","followers_url":"https://api.github.com/users/OCA/followers","following_url":"https://api.github.com/users/OCA/following{/other_user}","gists_url":"https://api.github.com/users/[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: GET
    uri: https://api.github.com/repos/OCA/mis-builder/issues/610
  response:
    body:
      string: '{"url":"https://api.github.com/repos/OCA/mis-builder/issues/610","repository_url":"https://api.github.com/repos/OCA/mis-builder","labels_url":"https://api.github.com/repos/OCA/mis-builder/issues/610/labels{/name}","comments_url":"https://api.github.com/repos/OCA/mis-builder/issues/610/comments","events_url":"https://api.github.com/repos/OCA/mis-builder/issues/610/events","html_url":"https://github.com/OCA/mis-builder/pull/610","id":2321506384,"node_id":"PR_kwDOBkb_ks5wyfPY","number":610,"title":"[15.0][IMP]
        add: css sticky table header added for mis-builder-widget","u[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: GET
    uri: https://api.github.com/repos/OCA/mis-builder/issues/610/labels?per_page=100
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"3dc5f90d8a17a2b739a1e29e487fdbcad6e820ab2b5af0e889706531b02bbf03"'
      Last-Modified:
      - Tue, 16 Jul 2024 12:41:22 GMT
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v3; param=full; format=json
      X-OAuth-Scopes:
      - gist, read:org, repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4977'
      X-RateLimit-Reset:
      - '1721660983'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '23'
      x-github-api-version-selected:
      - '2022-11-28'
      x-oauth-client-id:
      - 178c6fc778ccc68e1d6a
    status:
      code: 200
      message: OK
- request:
    body: '["addon:mis_builder"]'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.github.com/repos/OCA/mis-builder/issues/610/labels
  response:
    body:
      string: '[{"id":7236411066,"node_id":"LA_kwDOBkb_ks8AAAABr1Leug","url":"https://api.github.com/repos/OCA/mis-builder/labels/addon:mis_builder","name":"addon:mis_builder","color":"ededed","default":false,"description":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"f39940686b455dcbe66671162ad0b673044bc0c53d8491b8e696d38e01db10b1"
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=full; format=json
      X-OAuth-Scopes:
      - gist, read:org, repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4976'
      X-RateLimit-Reset:
      - '1721660983'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '24'
      x-github-api-version-selected:
      - '2022-11-28'
      x-oauth-client-id:
      - 178c6fc778ccc68e1d6a
    status:
      code: 200
      message: OK
- request:
    body: '["series:15.0"]'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.github.com/repos/OCA/mis-builder/issues/610/labels
  response:
    body:
      string: '[{"id":7236411066,"node_id":"LA_kwDOBkb_ks8AAAABr1Leug","url":"https://api.github.com/repos/OCA/mis-builder/labels/addon:mis_builder","name":"addon:mis_builder","color":"ededed","default":false,"description":null},{"id":7236411148,"node_id":"LA_kwDOBkb_ks8AAAABr1LfDA","url":"https://api.github.com/repos/OCA/mis-builder/labels/series:15.0","name":"series:15.0","color":"ededed","default":false,"description":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"f89cc535c8d3c3c36c5c4257109ef0ddb9c01db44ba5fb1751299d23ef07a085"
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=full; format=json
      X-OAuth-Scopes:
      - gist, read:org, repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4975'
      X-RateLimit-Reset:
      - '1721660983'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '25'
      x-github-api-version-selected:
      - '2022-11-28'
      x-oauth-client-id:
      - 178c6fc778ccc68e1d6a
    status:
      code: 200
      message: OK
version: 1
